@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
$light: 300;
$regular: 500;
$bold: 700;

$sizeXxl: 2rem;
$sizeXl:1.5rem;
$sizeLg: 1rem;
$sizeMd: 0.8rem;
$sizeSm: 0.6rem;

$txtCenter: center;
$txtLeft: left;
//ends fonts

$mainColor: #4C6FB2;
$secondColor: #072F7E; 
$white: rgb(252, 249, 249);
$black: rgb(3, 3, 3);
//ends colors

$widthFull: 100%;
$width60: 60%;
$widthHalf: 50%;
$width40: 40%;
$width30: 30%;
$width10: 10%;
$widthAuto: auto;

$heigthFull: 100%;
$height60: 60%;
$heightHalf: 50%;
$height40: 40%;
$height30: 30%;
$height10: 10%;
$heightAuto: auto;
//ends width and height

$equalSmMg: 5px;
$equalMdMg: 10px;
$equalLgMg: 20px;
$mainMargin: 20px 10px;
$mg0And10: 0px 10px;

$equalSmPd: 5px;
$equalMdPd: 10px;
$equalLgPd: 20px;
$mainPadding: 20px 10px;
$pg0And10: 0px 10px;
//ends margin and padding

$radius15: 15%;
//ends border radius

$dirRow: row;
$dirCol: column;
$alignX: center;
$justySB: space-between;
$justySE: space-evenly;
$justySA: space-around;
$justyX: center;
$wrap: wrap;
$noWrap: nowrap;
//ends flex

