/* starts contacto sass */

.contacto-form{
    margin: $sizeXxl;
    padding: $sizeXxl;
}
.contacto-button{
    background-color: $white;
    color: $mainColor;
    border: solid 1px $mainColor;
}
.img-cards-contacto{
    width: $width25;
    padding: $equalSmPd;
    margin: $equalSmMg;
}
.stars-color{
    color: $mainColor;
}
.cards-contacto{
    padding: $equalLgPd;
}
.h2-contacto{
    margin: $equalMdMg 2px;
    text-align: start;
}
/* ends contacto sass */
.img-error{
    width: $widthFull;
}
.h1-error{
    margin: $mainMargin;
    padding: $mainPadding;
    text-align: $txtCenter;
    font-size: $sizeXl;
}
.h2-error{
    margin: $mainMargin;
    padding: $mainPadding;
    text-align: $txtCenter;
    font-size: $sizeLg;
}
/* starts 404 error sass*/
/* ends 404 error sass */