/* starts funkos sass */

.txt-pagination{
    color: $secondColor;
    background-color: $white;
        &:hover{
            color: $white;
            background-color: $mainColor;
        }
}
#h1{
    color: $mainColor;
    margin: $equalLgMg;
}
.color-filtros{
    color: $secondColor;
        &:hover{
            color: $mainColor
        }
}
.pagination-funko{
    margin: $equalLgMg;
    padding: $equalSmPd;
}

/* ends funkos sass */