/* starts funkos sass */

.txt-pagination{
    color: $secondColor;
    background-color: $white;
        &:hover{
            color: $white;
            background-color: $mainColor;
        }
}
#h1{
    color: $mainColor;
    margin: $equalLgMg;
}

/* ends funkos sass */