/* starts index sass */

.main-home{
    display: flex;
    flex-direction: $dirCol;
    flex-wrap: $wrap;
    justify-content: $justySB;
    padding: $equalLgPd;
    margin-bottom: 5%;
}
.main-home-container-column{
    display: flex;
    flex-direction: $dirRow;
}
.h2-index{
    margin-bottom: $equalLgMg
}
.img-index{
    width: $width40;
    margin: $equalLgMg;
}
.p-index{
    width: $width60;
    margin-top: 20px;
    padding: 0px 20px;
}
@media (width < 650px){
    .main-home-container-column{
        display: flex;
        flex-direction: column;
    }
    .img-index{
        width: $width95;
        margin: $equalLgMg;
        padding: $equalLgPd;
        align-items: center;
    }
    .p-index{
        width: $width95;
        padding: $equalMdPd;
        margin-top: 3%;
        font-size: $sizeLg;
    }
}
/* ends index sass */