$paleta:(
    "main": #4C6FB2,
    "second": #072F7E,
    "white": rgb(252, 249, 249),
    "black": rgb(3, 3, 3),
);

@mixin basic($margin,$width,$height){
    margin: $margin;
    width: $width;
    height: $height;
}