/* starts que es funko sass */


.main-quienes-somos{
    display: flex;
    flex-direction: column;
}
.main-quienes-somos-container{
    width: $widthFull;
    display: flex;
    justify-content: $justySB;
}
.parrafo-quienes-somos{
    width: 95%;
    height: $heightAuto;
    padding: $equalMdPd;
    margin: $equalMdMg;
    text-align: $txtCenter;
}
.end-button{
    font-size: $sizeLg;
    color: $secondColor;
    border-radius: 5px;
    border: $mainColor solid 3px ;
    display: flex;
    flex-direction: $dirRow;
    justify-content: $justyX;
    text-align: $alignX;
    padding: $equalSmPd $equalMdPd;
    margin: 1rem;
    list-style: none;
    text-decoration: none;
        &:hover{
            background-color: (map-get($map: $paleta, $key: main));
            color: $white;
            cursor: pointer;
        }
}
.ver-todo-button{
    display: flex;
    justify-content: $justyX;
    border: $mainColor solid 3px ;
    margin: 26px;
    padding: $equalMdPd;
    border-radius: 5px;
        &:hover{
            background-color: $mainColor;
            color: $white;
        }
        a{
            text-decoration: none;
            color: $white;
            font-weight: $bold;
                &:hover{
                    color: $white;
                }
        }
}
.cards{
    border: $mainColor solid 3px;
    padding: $equalMdPd;
    margin: $equalMdMg;
}
.iframe-funko{
    padding: $equalMdPd;
    margin: $equalLgMg 0px;
    width: $width40;
}
.parrafo-funko{
    width: $width60;
    margin: 3% 1%;
    font-size: 1.2em;
}

@media (width < 900px){
    .main-quienes-somos-container{
        display: flex;
        flex-direction: column;
    }
    .iframe-funko{
        width: $width95;
        height: 20vh;
        margin: $equalMdMg;
    }
    .parrafo-funko{
        width: $width95;
        margin: $equalMdMg;
        padding: $equalLgPd;
    }
}

/* ends que es funko sass */