h1{
    color: $mainColor;
    font-size: $sizeXxl;
    text-align: $txtCenter;
    font-weight: $bold;
    font-family: "roboto", sans-serif;
}

h2,
h3,
h4{
    color: $black;
    text-align: $txtCenter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2,
h3,
h4,
h5,
p,
form{
    font-family: "roboto regular", sans-serif;
}
p{
    color: $secondColor;
    text-align: $txtLeft;
    font-size: $sizeLg;
}
h2{
    font-size: $sizeXl;
    font-weight: $regular;
    text-align: $txtCenter;
}
h3{
    font-size: $sizeLg;
    font-weight: $regular;
}
h4{
    font-size: $sizeMd;
    font-weight: $light;
}
//ends general

.header{
    height: $heightAuto;
    width: $widthFull;
    margin: none;
    padding: none;
}
/* ends header */

.menu{
    background-color: $mainColor;
    width: $widthFull;
    margin-bottom: $equalLgMg;
    padding: none;
    display: flex;
    flex-direction: $dirRow;
    align-items: $alignX;
    justify-content: $justySB;
    svg{
        fill: $white;
    }
    .navbar-toggler{
        border: none;
    }
    .hamburger-border{
        border: none;
    }
    ul{
        li{
            margin: $equalLgMg;
            a{
                text-decoration: none;
                color: white;
                font-size: 1em;
                font-weight: 600;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                &:hover{
                    text-decoration: underline;
                }
                    img{
                        width: $width10;
                    }
            }
        }
    }
}
.img-nav{
    width: $width10;
    margin: $mg0And10;
}
.hamburger-color{
    color: $white;
}

//ends nav bar

.button{
    background-color: $white;
    color: $mainColor;
    margin: $equalMdMg;
    padding: $equalMdPd;
    border: solid 1px $secondColor;
    border-radius: $radius15;
        &:hover{
            background-color: $mainColor;
            color: $white;
        }
}
/* ends search bar */

.footing-color{
    display: flex;
    flex-direction: $dirRow;
    justify-content: $justySA;
    align-items: stretch;
    background-color: $mainColor;
    color: $white;
}
.image-footer{
    display: flex;
    justify-content: $justySA;
    width: 4rem;
    height: $heightAuto;
    margin: $equalMdMg;
    padding: $equalSmPd; 
}
.h4-black{
    display: flex;
    justify-content: $justySA;
    color: $white;
    font-size: $sizeLg;
    padding-top: $sizeLg;
    margin: $sizeLg; 
}

/* ends footer */